.pContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2vh;
  z-index: -1;
}

.accordContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2vh;
}

.cardsContainer {
  display: grid;
  justify-content: center;
  /* Responsive columns: */
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-auto-rows: auto;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  gap: 0; /* Set gap between cards to zero */
  margin-bottom: 2vh;
  align-items: start;
}



