.glowingLight {
  position: absolute;
  top: 34svh;
  width: 15vw;
  height: 14vh;
  background-color: #fff;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 30px #f6df17, 0 0 100px 30px #ffee00;
  z-index: 0;
  
}

@media (min-width: 640px) {
  .glowingLight {
    top: 34svh;
    width: 3.5vw;
    height: 11vh;
  }
}