@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 86, 96, 86; /* MUI GREY */
    --textColorLight: 23, 58, 94, 1; /* DARK BLUE (works in light-mode) */
    --paper-bg: 255, 255, 255; /* WHITE */
  }

  .dark {
    --foreground: 86, 96, 86; /* MUI GREY */
    --paper-bg: 237 237 237; /* LIGHT GREY FOR TEXT */
    --textColorDark: 23, 58, 94, 1; /* DARK BLUE (works in dark-mode) */
  }
}

/* Light theme animation */
body {
  background: linear-gradient(90deg, #cce9f9, #cce9f9, #cce9f9);
  background-size: 300% 300%;
  min-height: 100vh;
  width: 100%;
}

/* Dark theme animation */
:root[class~="dark"] body {
  background: #02092f;

  .MuiBreadcrumbs-separator {
    color: rgb(var(--foreground));
  }
}

.platypi {
  font-family: var(--font-platypi);
  -webkit-font-smoothing: antialiased;
}
