@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 23 23 23;
  }

  .dark {
    --foreground: 237 237 237;
  }
}

/* Light theme animation */
body {
  background: linear-gradient(90deg, #0094ff, #05d8ff, #ffff00);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  min-height: 100vh;
  width: 100%;
  @apply text-[rgb(var(--foreground))];
}

/* Dark theme animation */
:root[class~="dark"] body {
  background: linear-gradient(90deg, #000216, #1a0036, #220000);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  .MuiBreadcrumbs-separator {
    color: antiquewhite;
  }
  .MuiTypography-root {
    color: antiquewhite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.platypi {
  font-family: var(--font-platypi);
  -webkit-font-smoothing: antialiased;
}
