@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 86, 96, 86;
  }

  .dark {
    --foreground: 237 237 237;
  }
}

/* Light theme animation */
body {
  background: linear-gradient(90deg, #d7f1d7, #d7f1d7, #d7f1d7);
  background-size: 300% 300%;
  min-height: 100vh;
  width: 100%;
  @apply text-[rgb(var(--foreground))];
}

/* Dark theme animation */
:root[class~="dark"] body {
  background: #1b361b;
  background-size: 300% 300%;
  color: antiquewhite;

  .MuiBreadcrumbs-separator {
    color: antiquewhite;
  }
  .MuiTypography-root {
    color: antiquewhite;
  }
  .MuiPaper-root {
    color: antiquewhite;
  }
}

.platypi {
  font-family: var(--font-platypi);
  -webkit-font-smoothing: antialiased;
}
